:root {
  --correct: #6aaa64;
  --incorrect: #787c7e;
  --present: #c9b458;
  --lightgray: #d3d6da;
}

.app {
  /* from wordle */
  font-family: Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  /* max-width: var(--game-max-width); */
  max-width: 400px;
  margin: 0 auto;
  height: calc(100% - 45px);
  /* height: calc(100% - var(--header-height)); */
  display: flex;
  flex-direction: column;
}

.board_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  position: relative;

  .message {
    position: absolute;
    top: 0;
    padding: 0.5rem;
    background-color: black;
    color: white;
    z-index: 1;
    border-radius: 4px;
  }

  .board {
    /* this width and height was calculated on the element itself. As such, may need to make this more dynamic by viewport*/
    width: 300px;
    height: 360px;
    /**/
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
  }

  .board_row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
  }

  .tile {
    background-color: white;
    border: 2px solid var(--lightgray);
    color: black;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    transition: all 0.6s;

    .front,
    .back {
      box-sizing: border-box;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: transform 0.6s;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
    }

    .back {
      transform: rotateX(180deg);
    }
    &.filled {
      animation: popin 0.2s;
    }
    &.reveal {
      &.is_incorrect {
        border: none;
      }

      &.is_incorrect .back {
        background-color: var(--incorrect);
        color: white;
      }

      &.is_correct {
        border: none;
      }

      &.is_correct .back {
        background-color: var(--correct);
        color: white;
      }

      &.is_present {
        border: none;
      }

      &.is_present .back {
        background-color: var(--present);
        color: white;
      }
    }

    &.reveal .front {
      transform: rotateX(180deg);
    }

    &.reveal .back {
      transform: rotateX(0);
    }
  }
}

.keyboard {
  height: var(--keyboard-height);
  margin: 0 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  .keyboard_row {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
  }

  .key {
    font-family: "nyt-franklin";
    font-size: 1.25em;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: light-gray;
    color: black;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
    transition:
      color 0.2s 1.5s,
      background-color 0.2s 1.5s;

    &.is_enter {
      flex-grow: 1.5;
    }
    &.is_delete {
      flex-grow: 1.5;
    }
    &.is_spacer {
      cursor: unset;
      flex-grow: 0.5;
    }
    &.is_correct {
      background-color: var(--correct);
      color: white;
    }
    &.is_present {
      background-color: var(--present);
      color: white;
    }
    &.is_incorrect {
      background-color: var(--incorrect);
      color: white;
    }
  }
}

/* animations */
.shake {
  animation: shake 0.5s;
}

@keyframes popin {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px);
  }
  10% {
    transform: translate(-2px);
  }
  20% {
    transform: translate(2px);
  }
  30% {
    transform: translate(-2px);
  }
  40% {
    transform: translate(2px);
  }
  50% {
    transform: translate(-2px);
  }
  60% {
    transform: translate(2px);
  }
  70% {
    transform: translate(-2px);
  }
  80% {
    transform: translate(2px);
  }
  90% {
    transform: translate(-2px);
  }
  100% {
    transform: translate(1px);
  }
}
