#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0 auto;
  margin-top: 60px;
}

a {
  color: #60b5cc;
}

.app {
  /* from wordle */
  width: 100%;
  /* max-width: var(--game-max-width); */
  max-width: 400px;
  margin: 0 auto;
  height: calc(100% - 45px);
  /* height: calc(100% - var(--header-height)); */
  display: flex;
  flex-direction: column;
}

.board_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  .board {
    /* this width and height was calculated on the element itself. As such, may need to make this more dynamic by viewport*/
    width: 300px;
    height: 360px;
    /**/
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
  }

  .board_row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
  }

  .tile {
    background-color: white;
    /* border: 2px solid var(--color-tone-3); */
    border: 2px solid black;
    /* color: var(--color-tone-1); */
    color: black;
    /* color: var(--key-evaluated-text-color-absent); */
    /* color: whitefont-family: "nyt-franklin"; */

    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
}

.keyboard {
  height: var(--keyboard-height);
  margin: 0 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  .keyboard_row {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
  }

  .key {
    font-family: "nyt-franklin";
    font-size: 1.25em;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /* background-color: var(--key-bg); */
    background-color: light-gray;
    /* color: var(--key-text-color); */
    color: black;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);

    &.is_enter {
      flex-grow: 1.5;
    }
    &.is_delete {
      flex-grow: 1.5;
    }
    &.is_spacer {
      cursor: unset;
      flex-grow: 0.5;
    }
  }
}

/* animations */
.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translate(1px);
  }
  10% {
    transform: translate(-2px);
  }
  20% {
    transform: translate(2px);
  }
  30% {
    transform: translate(-2px);
  }
  40% {
    transform: translate(2px);
  }
  50% {
    transform: translate(-2px);
  }
  60% {
    transform: translate(2px);
  }
  70% {
    transform: translate(-2px);
  }
  80% {
    transform: translate(2px);
  }
  90% {
    transform: translate(-2px);
  }
  100% {
    transform: translate(1px);
  }
}
